/ib_computer_science/Option D (OOP and Java)/Java Source/SnakeGameSkeleton/nbproject/private/
/ib_computer_science/Option D (OOP and Java)/Java Source/SnakeGameSkeleton/build/
/.vscode/
/.idea/
/resources/