    <!-- custom head content -->
    <style>
        .stuff{text-align: center;}
        .homegrid {display:flex;max-width:100%;text-align:center;padding:0px,50px,0px,50px;}
        .column {flex:1;padding:10px;}
        .box {background-color:#083a00;height:160px;margin-bottom:10px;}
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
     <link href="/static/styles.css" rel="stylesheet">
    <!-- Setup Google Analytics -->